
#logo {
    width: 30px;
    height: 30px;
    margin-top: -5px;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.bubble {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.footer {
    opacity: 0.5;
    font-size: 8pt;
}

.diagram-container {
    margin: 10px;
    position: relative;
}

.diagram-container .loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5) url(../images/loading.gif) no-repeat center center;
    display: none;
}
