
#logo {
    width: 30px;
    height: 30px;
    margin-top: -5px;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.bubble {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.footer {
    opacity: 0.5;
    font-size: 8pt;
}
